<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/resident_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ResidentHomes"
        tools:targetApi="31">
        <activity
            android:name=".RoomActivity"
            android:exported="false" />
        <activity
            android:name=".AdminProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ViewRoomActivity"
            android:exported="false" />
        <activity
            android:name=".LocationActivity"
            android:exported="false" />
        <activity
            android:name=".ViewLocationActivity"
            android:exported="false" />
        <activity
            android:name=".AddLocationActivity"
            android:exported="false" />
        <activity
            android:name=".StudentProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AddRoomActivity"
            android:exported="false" />
        <activity
            android:name=".ViewAmenitiesActivity"
            android:exported="false" />
        <activity
            android:name=".AmenityActivity"
            android:exported="false" />
        <activity
            android:name=".AddAmenitiesActivity"
            android:exported="false" />
        <activity
            android:name=".HostelBookingActivity"
            android:exported="false" />
        <activity
            android:name=".RoomBookingActivity"
            android:exported="false" />
        <activity
            android:name=".HostelActivity"
            android:exported="false" />
        <activity
            android:name=".ViewHostelActivity"
            android:exported="false" />
        <activity
            android:name=".AddHostelActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".DashBoardActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>